body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}
p{
    font-size: 20px;
    font-weight: 700;
}
.header{
    width: 100%;
    max-width: 1366px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    font-family: "Be Vietnam Pro", sans-serif;
}
.logo{
    display: grid;
    place-content: center;
    align-self: center;
    width: 100%;
    max-width: 200px;
    height: 60px;
    border-radius: 8px;
    background-color: #E2E2E2;
    font-family: "Be Vietnam Pro", sans-serif;
}
.menu{
    display: grid;
    place-content: center;
    align-self: center;
    width: 100%;
    max-width: 820px;
    height: 34px;
    border-radius: 8px;
    background-color: #E2E2E2;
    font-family: "Be Vietnam Pro", sans-serif;
}
.button{
    display: grid;
    place-content: center;
    align-self: center;
    width: 100%;
    max-width: 120px;
    height: 42px;
    border-radius: 8px;
    background-color:#E2E2E2;
    font-family: "Be Vietnam Pro", sans-serif;
}
.main{
    display: flex;
    justify-content: center;
    gap: 35px;
    width: 100%;
    max-width: 1366px;
    height: 680px;
    background-color: #F1F1F1;
}
.content{
    display: grid;
    place-content: center;
    align-self: center;
    width: 100%;
    max-width: 585px;
    height: 267px;
    border-radius: 8px;
    background-color: #E2E2E2;
    font-family: "Be Vietnam Pro", sans-serif;
}
.image{
    align-self: center;
    display: grid;
    place-content: center;
    width: 100%;
    max-width: 585px;
    height: 520px;
    border-radius: 8px;
    background-color: #E2E2E2;
    font-family: "Be Vietnam Pro", sans-serif;
}
.title{
    justify-self: center;
    margin-top: 50px;
    margin-bottom: 20px;
    display: grid;
    place-content: center;
    width: 100%;
    max-width: 600px;
    height: 80px;
    border-radius: 8px;
    background-color: #E2E2E2;
    font-family: "Lora", serif;
}
.grid-3x2{
    max-width: 1366px;
    justify-content: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(380px, 1fr));
    gap: 20px;
}
.items1{
    display: grid;
    place-content: center;
    width: 100%;
    max-width: 380px;
    height: 420px;
    border-radius: 8px;
    background-color: #E2E2E2;
    font-family: "Be Vietnam Pro", sans-serif;
}
.section-2{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1366px;
    height: 580px;
    background-color: #F1F1F1;
}
.flex-1{
    max-width: 1366px;
    justify-content: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, minmax(216px, 1fr));;
    gap: 16px;
}
.items2{
    display: grid;
    place-content: center;
    width: 100%;
    max-width: 216px;
    height: 300px;
    border-radius: 8px;
    background-color: #E2E2E2;
    font-family: "Be Vietnam Pro", sans-serif;
}
.flex-2{
    max-width: 1366px;
    justify-content: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(277.5px, 1fr));;
    gap: 20px;
}
.items3{
    display: grid;
    place-content: center;
    width: 100%;
    max-width: 277.5px;
    height: 300px;
    border-radius: 8px;
    background-color: #E2E2E2;
    font-family: "Be Vietnam Pro", sans-serif;
}
footer{
    display: grid;
    place-content: center;
    margin-top: 50px;
    width: 100%;
    max-width: 1366px;
    height: 72px;
    background-color: #E2E2E2;
    font-family: "Be Vietnam Pro", sans-serif;
}
