html{
    color: #333333;
    font-size: 20px;
    font-weight: 700;
    font-family: "Be Vietnam Pro", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    padding-top: 25px;
    padding-bottom: 25px; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.centered-box{
    display: grid;
    place-content: center;
}
.dark-gray{
    background-color: #E2E2E2;
}
.round{
    border-radius: 8px;
}
#logo{
    width: 200px;
    height: 60px;
}
#menu{
    width: 820px;
    height: 34px;
}
#button{
    width: 120px;
    height: 42px;
}
#content-box{
    align-self: center;
    width: 585px;
    height: 267px;
}
#image{
    width: 585px;
    height: 520px;
}
.light-gray{
    background-color: #F1F1F1;
}
.container{
    padding: 50px 30px 50px;
}
.content{
    display: flex;
    width: 1190px;
    justify-content: space-between;
}
#two-rows{
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.title{
    justify-self: center;
    font-family: "Lora", serif;
    width: 95%;
    max-width: 600px;
    height: 80px;
    margin-bottom: 30px;
}
#top, #bottom{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.item-1{
    width: 380px;
    height: 420px;
}
.item-2{
    width: 95%;
    max-width: 216px;
    height: 300px;
}
.item-3{
    width: 95%;
    max-width: 277.5px;
    height: 300px;
}
#footer{
    height: 72px;
}